#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

ul {
  list-style: none;
}